body{
	width: 80%;
	margin-left: auto;
	margin-right: auto;

    background-image: linear-gradient(to bottom, #BBD5DC, #E8F6FA 100%);
}

h1{
	text-align: center;
}

#disclaimer{
	background-image: linear-gradient(to bottom, #FF3333, #FF8080 100%);
	border-radius: 5px;
}

#notes a{
	font-size: 12px;
	vertical-align: text-top;
	text-decoration: none;
}