
<div id="disclaimer">
	<h2>Disclaimer</h2>
	<p>You probably have reached this website through a link (QR code or otherwise) from the MD PnP's <a href="./index.html">QR Codes for Medical Device Point-of-Care Product Information demo</a>.
	</p>

	<p>This web page has been created for demonstration purposes only and does neither substitute nor intents to substitute any manufacturer or vendor official resources pages. Any medical device manufacturer's resources used or linked here are publicly available and used for demonstration purposes only. By using any product or resource form a specific manufacturer or vendor we intent no misrepresentation of the capabilities of any mentioned resource or product. Manufacturers and/or medical devices may have been chosen based on either completely random criteria or availability of public resources for this demo.
	</p>

	<p>{{{extramessage}}}</p>

</div>